.sidebar-chat {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 1px solid #f6f6f6;
  cursor: pointer;
  &:hover {
    background: #ebebeb;
  }

  &__new-chat-button {
    background: transparent;
    border: none;
    width: 100%;
    padding: 1.5rem;
    border-bottom: 1px solid #f6f6f6;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background: #ebebeb;
    }

  }

  &__info {
    margin-left: 1.5rem;
  }

  &__title {
    font-size: 1.3rem;
    margin-bottom: 0.1rem;
    text-transform: capitalize;
  }

  &__text {
    color: gray;
    font-size: 1.3rem;
    text-transform: capitalize;
  }
}